<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.wilhelmgym.quiz" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Quiz">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories">
        </activity>

        <activity
            android:name=".LevelsActivity"
            android:label="@string/title_activity_levels"
            android:theme="@style/Quiz.Levels" />

        <activity
            android:name=".QuestionActivity"
            android:label="@string/title_activity_question"
            android:windowSoftInputMode="stateVisible|adjustResize" />

    </application>

</manifest>
